{{ form_start(form, {'attr': {'class': 'container',
					 'novalidate': 'novalidate'
					} 
			       }) }}
	<div class="row">
	    {{ form_widget(form, {'attr': {'class': 'container'}
			    })) }}
{#
	    
	    <div class="col-lg-3">
		{{ form_label(bilatzaileaForm.na) }}
		{{ form_widget(bilatzaileaForm.nombre, { 'attr': { 'class' : 'form-control' } }) }}
	    </div>
	    <div class="col-lg-3">
		{{ form_label(bilatzaileaForm.apellido1) }}
		{{ form_widget(bilatzaileaForm.apellido1, { 'attr': { 'class' : 'form-control' } }) }}
	    </div>
	    <div class="col-lg-3">
		{{ form_label(bilatzaileaForm.apellido2) }}
		{{ form_widget(bilatzaileaForm.apellido2, { 'attr': { 'class' : 'form-control' } }) }}
	    </div>
#}
	</div>
	<div class="row">
	    {% if ( showSaveButton == true ) %}
		<button class="btn btn-primary mt-1" type="submit">{{'button.save' | trans}}</button>&nbsp;
	    {% endif %}
	    <button class="btn btn-secondary mt-1 js-btn_cancel" data-url="{{ path ('admin_event_list',{'_locale': app.request.locale}) }}">{{ "button.cancel" | trans | capitalize }}</button>
	<div>
{{ form_end(form) }}
