{% extends 'base.html.twig' %}

{% block title %}{{'event.list.title' | trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bower_components/bootstrap-table/dist/bootstrap-table.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bower_components/jquery-ui/themes/base/jquery-ui.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bower_components/fontawesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block message %}
       {{ include('common/messages.html.twig') }}
{% endblock %}


{% block body %}
    <main>
	<div class="container">
	    <table id="taula" class="bootstrap-table mt-3">
		<thead>
		    <tr>
			<th data-sortable="true">{{"label.date" | trans | capitalize}}</th>
			<th data-sortable="true">{{"label.origin" | trans | capitalize}}</th>
			<th data-sortable="true">{{"label.fromAddress" | trans | capitalize}}</th>
			<th data-sortable="true">{{"label.subject" | trans | capitalize}}</th>
			<th data-sortable="true">{{"label.mailId" | trans | capitalize}}</th>
			<th data-sortable="true">{{"label.monitorized" | trans | capitalize}}</th>
			<th>{{ "tableheader.options" | trans | capitalize}}</th>
		    </tr>
		</thead>
		<tbody>
		    {% if events is defined and events | length > 0 %}
			{% for event in events %}
			<tr>
			    <td>{{ event.date | date('Y-m-d H:i:s') }}</td>
			    <td>{{ event.origin }}</td>
			    <td>{{ event.fromAddress }}</td>
			    <td>{{ event.subject }}</td>
			    <td>{{ event.mailId }}</td>
			    <td>
				{% if event.monitorizableEvent is not null %}
				    <i class="fa fa-check color-green" title="{{"icon.monitor" | trans | capitalize}}"></i>
				{% endif %}
			    </td>
			    <td class="white-space-nowrap">
{#				<a href="{{ path ('admin_mevent_show', {'id': mevent.id }) }}"><i class="fa fa-eye prefix" title="{{"icon.show" | trans | capitalize }}"></i></a>
				    &nbsp;<a href="{{ path ('admin_mevent_edit', {'id': mevent.id }) }}"><i class="fa fa-edit prefix" title="{{"icon.edit" | trans | capitalize}}"></i></a>
				    &nbsp;<a class="js-ezabatu_botoia" data-url="{{ path ('admin_mevent_delete', {'id': mevent.id }) }}" href="#"><i class="fa fa-trash prefix" title="{{"icon.delete" | trans | capitalize}}"></i></a>
				    &nbsp;<a class="js-bilatu_botoia" href="{{ path ('admin_mevent_search', {'id': mevent.id }) }}"><i class="fa fa-search prefix" title="{{"icon.search" | trans | capitalize}}"></i></a>
#}				    &nbsp;<a id="tr{{loop.index}}" class="trigger" onclick="showDialog('ov{{loop.index}}');" href="#"><i class="fa fa-file-text-o prefix" title="{{"icon.details" | trans | capitalize}}"></i></a>
				    &nbsp;<a href="{{ path('admin_event_new_mevent', {'event': event.id }) }}"><i class="fa fa-plus" title="{{"icon.monitor" | trans | capitalize}}"></i></a>
			    </td>
			</tr>
			{% endfor %}
		    {% else %}
			<tr><td class="text-center" colspan="7">{{"messages.results0" | trans }}</td></tr>
		    {% endif %}
		</tbody>
	    </table>
	    {% if events is defined and events | length > 0 %}
		    {% for event in events %}
		    <div id="ov{{loop.index}}" class="overlay" style="display:none">
			<div id="pp{{loop.index}}" class="popup">
			     <div id="cl{{loop.index}}" class="close">X</div>
			     {% if event.details != null %}
				{% if ( event.type == "text") %}
				    <pre>
					{{ event.details | raw }}
				    </pre>
				{% else %}
				    {{ event.details | striptags('<table><th><tr><td><p><b><span><a><br><blockguote>') | raw }}
				{% endif %}
			     {% else %}
				 <p style="text-align: center">{{ 'messages.nodetails' | trans }}</p>
			    {% endif%}
			</div>
		    </div>
		    {% endfor %}
	    {% endif %}
	</div>
    </main>
{% endblock %}

{% block javascripts %}
    {{  parent() }}
    <script type="text/javascript" src="{{ asset('bower_components/bootstrap-table/dist/bootstrap-table.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/bootstrap-table/dist/locale/bootstrap-table-es-ES.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/bootstrap-table/dist/locale/bootstrap-table-eu-EU.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/tableexport.jquery.plugin/tableExport.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/gijgo/dist/combined/js/gijgo.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/gijgo/dist/combined/js/messages/messages.es-es.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/event_list.js') }}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
	$('#taula').bootstrapTable({
	        cache : false,
		showExport: false,
		exportTypes: {exportTypes:['excel']},
		exportDataType: 'all',
		exportOptions: {
{#		    fileName: "alertak",
		    worksheetName: "test1",
		    ignoreColumn: ['aukerak']
#}		},
		showColumns: false,
		pagination: true,
		search: true,
		striped: true,
		sortStable: true,
		pageSize: 10,
		pageList: [10,25,50,100],
		sortable: true,
		locale: 'es_{{ app.request.getLocale() | upper }}'
	});
	$('.overlay').hide();
	$('.close').click(function(e) {
	    hideDialog(e);
	    $('.bootstrap-table').show();
	    console.log("Closed!!!");
	});
	var $table = $('#taula');
	$(function () {
	    $('#toolbar').find('select').change(function () {
		$table.bootstrapTable('destroy').bootstrapTable({
		    exportDataType: $(this).val(),
		});
	    });
	});
    });
    </script>
    
{% endblock javascripts %}