{% extends 'base.html.twig' %}

{% block title %}{{'mails.list.izenburua' | trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bower_components/bootstrap-table/dist/bootstrap-table.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bower_components/jquery-ui/themes/base/jquery-ui.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bower_components/fontawesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block message %}
    {% for msg in app.session.flashBag.get('success') %}
	<div class="alert alert-success margin-top-13">
	    {{ msg | trans}}
	</div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('error') %}
	<div class="alert alert-danger margin-top-13">
	    {{ msg | trans}}
	</div>
    {% endfor %}
{% endblock %}


{% block body %}
    <main>
	<div class="container">
	    <table id="taula" class="bootstrap-table mt-3">
		<thead>
		    <tr>
			<th data-sortable="true">{{"label.from" | trans | capitalize}}</th>
			<th data-sortable="true">{{"label.date" | trans | capitalize}}</th>
			<th data-sortable="true">{{"label.subject" | trans | capitalize}}</th>
		    </tr>
		</thead>
		<tbody>
		    {% if mails is defined and mails | length > 0 %}
			{% for mail in mails %}
			<tr>
			    <td>{{ mail.fromName }}</td>
			    <td>{{ mail.date }}</td>
			    <td>{{ mail.subject }}</td>
			</tr>
			{% endfor %}
		    {% else %}
			<tr><td colspan="4">{{"messages.results0" | trans }}</td></tr>
		    {% endif %}
		</tbody>
	    </table>
	</div>
    </main>
{% endblock %}

{% block javascripts %}
    {{  parent() }}
    <script type="text/javascript" src="{{ asset('bower_components/bootstrap-table/dist/bootstrap-table.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/bootstrap-table/dist/locale/bootstrap-table-es-ES.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/bootstrap-table/dist/locale/bootstrap-table-eu-EU.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/tableexport.jquery.plugin/tableExport.min.js') }}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
	$('#taula').bootstrapTable({
	        cache : false,
		showExport: false,
		exportTypes: {exportTypes:['excel']},
		exportDataType: 'all',
		exportOptions: {
{#		    fileName: "alertak",
		    worksheetName: "test1",
		    ignoreColumn: ['aukerak']
#}		},
		showColumns: false,
		pagination: true,
		search: false,
		striped: true,
		sortStable: true,
		pageSize: 10,
		pageList: [10,25,50,100],
		sortable: true,
		locale: 'es_{{ app.request.getLocale() | upper }}'
	});
	var $table = $('#taula');
	$(function () {
	    $('#toolbar').find('select').change(function () {
		$table.bootstrapTable('destroy').bootstrapTable({
		    exportDataType: $(this).val(),
		});
	    });
	});
    });
    </script>
    
{% endblock javascripts %}