{{ form_start(form, {'attr': {'class': 'container form-group',
					 'novalidate': 'novalidate'
					} 
			       }) }}
	<div class="row">
	    <div class="container">
	    {{ form_widget(form, {'attr': {'class': ''}
			    }) }}
	    </div>
	</div>
	<div class="row">
	    {% if ( showSaveButton == true ) %}
		<button class="btn btn-primary mt-1" type="submit">{{'button.save' | trans}}</button>&nbsp;
	    {% endif %}
	    <button type="button" class="btn btn-secondary mt-1 js-btn_cancel" data-url="{{ path("admin_mevent_list")}}">{{ "button.cancel" | trans | capitalize }}</button>
	<div>
{{ form_end(form) }}
