{% extends 'base.html.twig' %}

{% block title %}{{'mevent.search.izenburua' | trans }}{% endblock %}

{% block stylesheets %}
	{{  parent() }}
	{{ encore_entry_link_tags('mevent_search') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('mevent_search') }}
{% endblock %}

{#{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bower_components/bootstrap-table/dist/bootstrap-table.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bower_components/jquery-ui/themes/base/jquery-ui.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bower_components/fontawesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bower_components/gijgo/dist/combined/css/gijgo.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
#}
{% block message %}
       {{ include('common/messages.html.twig') }}
{% endblock %}


{% block body %}
    <main>
	    <ul class="container detail-list">
		<li><b>{{ 'label.name' | trans}}</b>: {{ mevent.name }}</li>
		<li><b>{{ 'label.filterCondition' | trans }}</b>: {{ mevent.filterCondition|length > 50 ? mevent.filterCondition|slice(0, 50) ~ '...' : mevent.filterCondition }}</li>
		<li><b>{{ 'label.frecuency' | trans }}</b>: {{ mevent.frecuency}}</li>
		<li><b>{{ 'label.unit' | trans }}</b>: {{ (constant('App\\Entity\\MonitorizableEvent::UNITS')[mevent.unit]) | trans }} </li>
	    </ul>
	    <ul class="container detail-list">
		<li><b>{{ 'label.successCondition' | trans }}</b>: {{ mevent.successCondition }}</li>
		<li><b>{{ 'label.failureCondition' | trans }}</b>: {{ mevent.failureCondition}}</li>
	    </ul>
	
	{{ include('mevent/_searchEvents_form.html.twig',{
			    }) }}
	<div class="container">
		{% if events is defined and events | length > 0 %}
	    <table id="taula" class="bootstrap-table mt-3">
		<thead>
		    <tr>
				<th data-sortable="true">{{"label.date" | trans | capitalize}}</th>
				<th data-sortable="true">{{"label.origin" | trans | capitalize}}</th>
				<th data-sortable="true">{{"label.fromAddress" | trans | capitalize}}</th>
				<th data-sortable="true">{{"label.subject" | trans | capitalize}}</th>
				<th data-sortable="true">{{"label.status" | trans | capitalize}}</th>
				<th>{{ "tableheader.options" | trans | capitalize}}</th>
		    </tr>
		</thead>
		<tbody>
			{% for event in events %}
			<tr>
			    <td>{{ event.date | date('Y-m-d H:i:s') }}</td>
			    <td>{{ event.origin }}</td>
			    <td>{{ event.fromAddress }}</td>
			    <td>{{ event.subject }}</td>
			    <td>{{ event.mailId }}</td>
			    <td class="white-space-nowrap col-1">
				    &nbsp;<a id="tr{{loop.index}}" class="js-showDetails trigger" href="#"><i class="fa fa-file-text-o prefix" title="{{"icon.details" | trans | capitalize}}"></i></a>
				    &nbsp;<a href="{{ path ('admin_mevent_try', {'id': mevent.id, 'event': event.id }) }}"><i class="fa fa-edit prefix" title="{{"icon.try" | trans | capitalize}}"></i></a>
				    &nbsp;<a href="{{ path ('admin_mevent_match', {'id': mevent.id, 'event': event.id }) }}"><i class="fa fa-check prefix" title="{{"icon.match" | trans | capitalize}}"></i></a>
			    </td>
			</tr>
			{% endfor %}
		</tbody>
	    </table>
		    {% else %}
				<div class="col text-center border p-2">{{"messages.results0" | trans }}</div>
		    {% endif %}
	    {% if events is defined and events | length > 0 %}
		    {% for event in events %}
		    <div id="ov{{loop.index}}" class="overlay" style="display:none">
			<div id="pp{{loop.index}}" class="popup">
			     <div id="cl{{loop.index}}" class="close">X</div>
			     {% if event.details != null %}
			     {{ event.details | striptags('<table><th><tr><td><p><b><span><a><br><blockguote>') | raw }}
			     {% else %}
				 <p style="text-align: center">{{ 'messages.nodetails' | trans }}</p>
			    {% endif%}
			</div>
		    </div>
		    {% endfor %}
	    {% endif %}
	    <button id="btnCancel" class="btn btn-secondary mt-2" type="button" data-url="{{ path("admin_mevent_list")}}">{{'button.cancel' | trans | capitalize }}</button>
	    
	</div>
    </main>
{% endblock %}
