{{ form_start(form, {'attr': {'class': 'container',
					 'novalidate': 'novalidate'
					} 
			       }) }}
{{ form_errors(form) }}
	<div class="row">
	    <div class="col-lg-4 col-md-2">
		{{ form_label(form.dateFrom) }}
		<div class="flex-row-nowrap flex-align-items-baseline">
		    {{ form_widget(form.dateFrom, { 'attr': { 'class' : 'js-datetimepicker form-control-sm' } }) }}
		</div>
		{{ form_errors(form.dateFrom) }}
	    </div>
	    <div class="col-lg-4 col-md-2">
		{{ form_label(form.dateTo) }}
		<div class="flex-row-nowrap flex-align-items-baseline">
		    {{ form_widget(form.dateTo, { 'attr': { 'class' : 'js-datetimepicker form-control-sm' } }) }}
		</div>
		{{ form_errors(form.dateTo) }}
	    </div>
	    <div class="col-lg-4 col-md-2">
		{{ form_label(form.origin) }}
		{{ form_widget(form.origin, { 'attr': { 'class' : 'form-control-sm' } }) }}
		{{ form_errors(form.origin) }}
	    </div>
	</div>
	<div class="row mt-1">
	    <div class="col-lg-2 col-md-2">
			{{ form_label(form.fromAddress) }}
			{{ form_widget(form.fromAddress, { 'attr': { 'class' : 'form-control-sm' } }) }}
			{{ form_errors(form.fromAddress) }}
	    </div>
	    <div class="col-lg-2 col-md-2">
			{{ form_label(form.subject) }}
			{{ form_widget(form.subject, { 'attr': { 'class' : 'form-control-sm' } }) }}
			{{ form_errors(form.subject) }}
	    </div>
	    <div class="col-lg-2 col-md-2">
			{{ form_label(form.details) }}
			{{ form_widget(form.details, { 'attr': { 'class' : 'form-control-sm' } }) }}
			{{ form_errors(form.details) }}
	    </div>
	    <div class="col-lg-2 col-md-2">
			{{ form_label(form.mailId) }}
			{{ form_widget(form.mailId, { 'attr': { 'class' : 'form-control-sm' } }) }}
			{{ form_errors(form.mailId) }}
	    </div>
	    <div class="col-lg-2 col-md-2 d-flex flex-row align-items-end">
			{{ form_widget(form.search, { 'attr': { 'class' : 'btn-secondary' } }) }}&nbsp;
			{{ form_widget(form.reset, { 'attr': { 'class' : 'btn-secondary' } }) }}&nbsp;
	    </div>
	    <div class="col-lg-2 col-md-2 d-flex flex-row justify-content-end align-items-end">
			{{ form_widget(form.save, { 'attr': { 'class' : 'btn-primary' } }) }}&nbsp;
	    </div>
	</div>
{{ form_end(form) }}
