{{ form_start(form, {'attr': {'class': 'container form-group',
					 'novalidate': 'novalidate'
					} 
			       }) }}
	<div class="row">
	    {{ form_widget(form) }}
{#
	    
	    <div class="col-lg-3">
		{{ form_label(bilatzaileaForm.na) }}
		{{ form_widget(bilatzaileaForm.nombre, { 'attr': { 'class' : 'form-control' } }) }}
	    </div>
	    <div class="col-lg-3">
		{{ form_label(bilatzaileaForm.apellido1) }}
		{{ form_widget(bilatzaileaForm.apellido1, { 'attr': { 'class' : 'form-control' } }) }}
	    </div>
	    <div class="col-lg-3">
		{{ form_label(bilatzaileaForm.apellido2) }}
		{{ form_widget(bilatzaileaForm.apellido2, { 'attr': { 'class' : 'form-control' } }) }}
	    </div>
#}
	</div>
	{% if ( showSaveButton == true ) %}
	    <div class="row">
		<button class="btn btn-primary mt-1" type="submit">{{'button.save' | trans}}</button>
	    <div>
	{% endif %}
{{ form_end(form) }}
