<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	<link rel="stylesheet" href="{{ asset('bower_components/bootstrap4/dist/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body>
	{% block header %}
	    {{ include('common/header.html.twig') }}
	{% endblock %}
	{% block menu %}
	    {{ include('common/menu.html.twig') }}
	{% endblock %}

	{% block message %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
	    <script type="text/javascript" src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
	    <script type="text/javascript" src="{{ asset('bower_components/popper.js/dist/umd/popper.min.js') }}"></script>
	    <script type="text/javascript" src="{{ asset('bower_components/bootstrap4/dist/js/bootstrap.min.js') }}"></script>
	    <!-- FOSRouting Symfony Bundle -->
{#	    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	    <script src="{{ asset('js/fos_js_routes.js') }}"></script>
#}	{% endblock %}
</body>
</html>